In [1]:
import sqlite3
import pandas as pd

# Table of pass or failed pipelines

In [2]:
conn = sqlite3.connect("csvdb")

df = pd.read_sql_query("SELECT * FROM md5_compare;", conn)
df

,track,status,job_finished,nfiles,nref,missing,extra,different,different_md5,different_lines,same,same_md5,same_lines,same_exist,files_missing,files_extra,files_different_md5,files_different_lines
0,test_bamstats,OK,1,42,42,0,0,0,0,0,42,42,0,0,None,None,None,None
1,test_genesets,OK,1,43,43,0,0,0,0,0,43,38,5,0,None,None,None,None

# Files with different lines

In [4]:
df = pd.read_sql_query("SELECT track, files_different_lines FROM md5_compare;", conn)
df

           track files_different_lines
0  test_bamstats                  None
1  test_genesets                  None

# Files different md5

In [5]:
df = pd.read_sql_query("SELECT track, files_different_md5 FROM md5_compare;", conn)
df

           track files_different_md5
0  test_bamstats                None
1  test_genesets                None